= form_tag notify_path, class: 'center flex-l mw-60' do
  input.bn.f3.mr2-l.mb3.montserrat.ocean.outline-0.pa3.p-foam.w-100 class=(yield || 'bg-white') placeholder="Your email" name="email" type="email"
  input.ba.bg-transparent.b--ocean.db.dib-l.f3.fw6.hover-oceans.link.mb3.ml2-l.nowrap.ocean.pointer.pv3.ph6-l.tc.w-100 type="submit" value="Notify me"
