/* @import url('https://fonts.googleapis.com/css?family=Questrial'); */

body {
  font-family: -apple-system, BlinkMacSystemFont,
               'helvetica neue', helvetica,
               arial,
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased
}

/* body { */
/*   letter-spacing: .1em; */
/* } */

.cardo {
  font-family: 'Cardo', sans-serif;
}

.helvetica {
  font-family: helvetica;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.roboto {
  font-family: 'Roboto', monospace;
}
