.navbar-default {
  .navbar-nav > li {
    margin-left: 20px;

    > a {
      margin-bottom: 15px;
      margin-top: 15px;
      padding: 0;
    }

    &.active > a {
      border-bottom: 1px solid currentColor;
    }
  }
}
