@import 'bootstrap/variables';

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

$font-family-base: 'Questrial', $font-family-sans-serif;

$link-hover-decoration: none;

$navbar-default-bg: transparent;
$navbar-default-border: transparent;

$navbar-default-link-active-bg: transparent;
$navbar-default-link-color: #eee;
$navbar-default-brand-color: #eee;
